.about {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 0 16px 0 16px;
    &-text {
        font-family: 'avenir-demi';
        padding-bottom: 10px;
        font-size: 24px;
    }
    &-picture {
        padding-bottom: 10px;
    }
    &-quote {
        font-size: 15px;
        font-family: 'avenir-regular';
        padding-top: 10px;
        line-height: 22px;
    }
    &-band {
        font-family: 'avenir-regular';
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    &-info {
        font-family: 'avenir-regular';
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}