.footer {
    background-color: $color-bandsite-black;
    padding: 0 16px 0 16px;
    color: $color-white;
    text-decoration: none;
    &-head {
        padding: 24px 0 16px 0;
        font-family: 'avenir-demi';
    }
    &-icons {
        padding: 0 24px 0 0;
    }
    &-name {
        font-family: 'avenir-regular';
        line-height: 18px;
        padding: 24px 0 16px 0;
        font-size: 14px;
        font-weight: 500;

    }
    &-address {
        font-family: 'avenir-regular';
        line-height: 18px;
        padding: 0 0 16px 0;
        font-size: 13px;
    }
    &-email {
        font-family: 'avenir-regular';
        color: $color-white;
        font-size: 13px;
    }
    &-bandlogo {
        padding-top: 48px;
        height: 20px;
        width: 120px;

    }
    &-copyright {
        font-family: 'avenir-regular';
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 11px;

    }
}
.footer-band-logo-top {
    display: none;
}
@include tablet {
    .footer { padding-top: 24px;
        padding-left: 32px;
        &-head {
          font-size: 36px;
          justify-content: left;
          padding-right: 42px;
        }
        &-icons {
            height: 30px;
            width: 10px;
            padding-top: 30px;
            padding-right: 30px;
            justify-content: space-evenly;
            align-items: center;
        }
        &-name {
            padding-bottom: 24px;
        }
        &-address {
            padding-bottom: 24px;
        }
        &-copyright {
            padding-top: 42px;
            padding-bottom: 32px;
        }
    .git_tablet {
        display: flex;
        flex-direction: row;
    }
    .footer-band-logo-top {
        display: flex;
        width: 120px;
        height: 20px;
        padding-top: 36px;
        padding-left: 180px;
    }
    .footer-bandlogo {
        display: none;
    }
    .footer_contact-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-right: 40px;
    }
}
}

//Desktop Section

@include desktop {
    .footer {
        padding-left: 124px;
    }
    .footer-band-logo-top {
        margin-left: 250px;
    }
}