.gallery {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 0 1rem 0 1rem;
    background-color: $color-alabaster;
    &-text {
        font-family: 'avenir-demi';
        font-weight: 400;
        padding: 1rem 0 1rem 0;
    }
    &-photos {
        padding-right: 1rem;
        padding-bottom: 1rem;
        width: 100vw;
    }
}
img[src*=gallery] {    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;
}
img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
 }

 // Tablet Section
 
 @include tablet {
    .gallery {
        display: flex;
        flex-direction: column;
        &-text {
            font-size: 2.25rem;
            padding: 2.25rem 0 1rem 2rem;
        }
        &-photos {
            display: flex;
            flex-wrap: wrap;
            width: 13.125rem;
            padding-right: 1rem;

        }
    }
    .photo-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }
 }

 //Desktop Section

@include desktop {
    .gallery {
        padding-left: 5.5rem;
        width: 100vw;
        &-text {
            padding-top: 2.5rem;
            padding-bottom: 2rem;
        }
        &-photos {
            width: 21.875rem;
        }
    }
}