.gallery {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    background-color: $color-alabaster;
    &-text {
        font-family: 'avenir-demi';
        font-weight: 400;
        padding: 16px 0 16px 0;
    }
    &-photos {
        padding-bottom: 16px;
    }
}
img[src*="gallery"] {    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;
}
img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
 }