.hero {
    width: 100vw;
    height: 210px;
    background-image: url(../../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
    &-overlay {
        background-color: $color-bandsite-black;
        position: absolute;
        width: 100vw;
        height: 210px;
        opacity: 50%;
    }
    &-text {
        font-family: 'avenir-demi';
        color: $color-white;
        z-index: 2;
        padding-left: 16px;
        font-size: 26px;
    }
    
}