.navbar {
    background-color: $color-bandsite-black;
    min-width: 100vw;
    height: 90px;
}
.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'avenir-regular';
    padding-top: 8px;
    &-bandlogo {
        height: 20px;
        width: 120px;
    }
    &-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        align-items: center;
        padding-top: 20px; 
        list-style: none;
        @include tablet {
            
        }
    }
}
.tabs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom-width: 50vw;
    @include tablet {
        border-bottom-width: 20px;
        display: flex;
        flex-direction: row;
        text-align: left;
        padding-top: 5px;
    }
}
#active_tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50vw;
    font-weight: bold;
    color: $color-white;
    padding-bottom: 12px;
    border-bottom: 4px solid $color-white;
    @include tablet {

    }
}
.shows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $color-mercury;
    padding-bottom: 12px;
    width: 50vw;
}
.shows:hover {
    color: $color-white;
    display: flex;
    border-bottom: 4px solid $color-white;
    width: 50vw;
    text-align: center;
    padding-bottom: 12px;
}

// Tablet Section //

@include tablet {
    .navbar__container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        padding-left: 16px;
        &-links {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
        }
    }
    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    #active_tabs {
        display: flex;
        justify-content: right;
        align-items: left;
        text-align: left;
        width: 1px;
        padding-top: 10px;
        padding-bottom: 24px;
        padding-left: 80px;
        margin-left: 70px;
        padding-right: 5px;
    }
    .shows {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-bottom: 20px;
        padding-right: 25vw;
    }
    .shows:hover {
        @include tablet {
            display: flex;
            color: $color-white;
            text-decoration-line: underline;
            border-bottom: none;
            text-decoration-thickness: 4px;
            text-underline-offset: 26px;
            padding-bottom: 15px;
            
    }
}
}