.navbar {
    background-color: $color-bandsite-black;
    min-width: 100vw;
    height: 90px;
}
.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'avenir-regular';
    padding-top: 8px;
    &-bandlogo {
        height: 20px;
        width: 120px;
    }
    &-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        align-items: center;
        padding-top: 20px; 
        list-style: none;
    }
}
.tabs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom-width: 50vw;
}
#active_tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50vw;
    font-weight: bold;
    color: $color-white;
    padding-bottom: 12px;
    border-bottom: 4px solid $color-white;
}
.shows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $color-mercury;
    padding-bottom: 12px;
    width: 50vw;
}
.shows:hover {
    color: $color-white;
    display: flex;
    border-bottom: 4px solid $color-white;
    width: 50vw;
    text-align: center;
    padding-bottom: 12px;
}
