.navbar {
    background-color: $color-bandsite-black;
    min-width: 100vw;
    height: 5.625rem;
}
.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'avenir-regular';
    padding-top: .5rem;
    &-bandlogo {
        height: 1.25rem;
        width: 7.5rem;
    }
    &-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        align-items: center;
        padding-top: 1.25rem; 
        list-style: none;
    }
}
.tabs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom-width: 50vw;
}
#active_tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50vw;
    font-weight: bold;
    color: $color-white;
    padding-bottom: .75rem;
    border-bottom: .25rem solid $color-white;
}

.shows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $color-mercury;
    padding-bottom: .75rem;
    width: 50vw;
}
.shows:hover {
    color: $color-white;
    display: flex;
    border-bottom: .25rem solid $color-white;
    width: 50vw;
    text-align: center;
    padding-bottom: .75rem;
}

// Tablet Section //

@include tablet {
    .navbar__container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 1rem;
        &-links {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
        }
    }
    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 12.5rem;
        border-bottom-width: 1.25rem;
        text-align: left;
        padding-top: .313rem;   
    }
    #active_tabs {
        display: flex;
        justify-content: right;
        text-align: left;
        width: .063rem;
        padding-top: .625rem;
        padding-bottom: 1.5rem;
        padding-left: 5rem;
        margin-left: 4.375rem;
        padding-right: .313rem;
    }
    .shows {
        display: flex;
        color: $color-mercury;
        flex-direction: row;
        justify-content: left;
        padding-bottom: 1.25rem;
        padding-right: 25vw;
        padding-top: .125rem;
    }
    .shows:hover {
        @include tablet {
            display: flex;
            text-decoration-line: underline;
            border-bottom: none;
            text-decoration-thickness: .25rem;
            text-underline-offset: 1.75rem;
            padding-bottom: 1.125rem;
            padding-top: .188rem;
            
    }
}
}
//Desktop Section
@include desktop {
    .navbar__container {
        padding-left: 3.938rem;
        gap: .625rem;
        height: 6.25rem;
        padding-bottom: 1.563rem;
    }
    .tabs {
        padding-bottom: 1.125rem;
        width: 12.5rem;
        margin-left: -1.5rem;
    }
}