// Primary Colors
$color-bandsite-black: #323232;
$color-white: #ffffff;
$color-silver: #afafaf;
// Secondary Colors
$color-bandsite-darkblack: #000000;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;
$color-overlay: rgba($color: #323232, $alpha: 0.5);