@import './partials/colors';
@import './partials/font';
@import './partials/media';
@import './partials/navbar';
@import './partials/hero';
@import './partials/about';
@import './partials/gallery';
@import './partials/footer';
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
html, body {
    box-sizing: border-box;
}