@import './partials/colors';
@import './partials/font';
@import './partials/media';
@import './partials/navbar';

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
html, body {
    box-sizing: border-box;
}