@font-face {
  font-family: "avenir-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
}
.navbar {
  background-color: #323232;
  min-width: 100vw;
  height: 5.625rem;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "avenir-regular";
  padding-top: 0.5rem;
}
.navbar__container-bandlogo {
  height: 1.25rem;
  width: 7.5rem;
}
.navbar__container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  padding-top: 1.25rem;
  list-style: none;
}

.tabs {
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-bottom-width: 50vw;
}

#active_tabs {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 50vw;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 0.75rem;
  border-bottom: 0.25rem solid #ffffff;
}

.shows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #E1E1E1;
  padding-bottom: 0.75rem;
  width: 50vw;
}

.shows:hover {
  color: #ffffff;
  display: flex;
  border-bottom: 0.25rem solid #ffffff;
  width: 50vw;
  text-align: center;
  padding-bottom: 0.75rem;
}

@media screen and (min-width: 768px) {
  .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 1rem;
  }
  .navbar__container-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 12.5rem;
    border-bottom-width: 1.25rem;
    text-align: left;
    padding-top: 0.313rem;
  }
  #active_tabs {
    display: flex;
    justify-content: right;
    text-align: left;
    width: 0.063rem;
    padding-top: 0.625rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    margin-left: 4.375rem;
    padding-right: 0.313rem;
  }
  .shows {
    display: flex;
    color: #E1E1E1;
    flex-direction: row;
    justify-content: left;
    padding-bottom: 1.25rem;
    padding-right: 25vw;
    padding-top: 0.125rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .shows:hover {
    display: flex;
    text-decoration-line: underline;
    border-bottom: none;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1.75rem;
    padding-bottom: 1.125rem;
    padding-top: 0.188rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__container {
    padding-left: 3.938rem;
    gap: 0.625rem;
    height: 6.25rem;
    padding-bottom: 1.563rem;
  }
  .tabs {
    padding-bottom: 1.125rem;
    width: 12.5rem;
    margin-left: -1.5rem;
  }
}
.hero {
  width: 100vw;
  height: 13.125rem;
  background-image: url(../../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: center;
}
.hero-overlay {
  background-color: #323232;
  position: absolute;
  width: 100vw;
  height: 13.125rem;
  opacity: 50%;
}
.hero-text {
  font-family: "avenir-demi";
  color: #ffffff;
  z-index: 2;
  padding-left: 1rem;
  font-size: 1.525rem;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 26rem;
  }
  .hero-overlay {
    height: 26rem;
  }
  .hero-text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 40.625rem;
    max-width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-overlay {
    height: 40.625rem;
  }
  .hero .hero-text {
    padding-left: 7.75rem;
  }
}
.about {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
}
.about-text {
  font-family: "avenir-demi";
  padding-bottom: 0.625rem;
  font-size: 1.5rem;
}
.about-picture {
  padding-bottom: 0.625rem;
}
.about-quote {
  font-size: 0.938rem;
  font-family: "avenir-regular";
  padding-top: 0.625rem;
  line-height: 1.375rem;
}
.about-quote-name {
  font-size: 0.938rem;
  font-family: "avenir-regular";
  padding-top: 0.625rem;
  line-height: 1.375rem;
}
.about-band {
  font-family: "avenir-regular";
  font-size: 0.875rem;
  padding-bottom: 0.625rem;
  padding-top: 0.938rem;
}
.about_info {
  font-family: "avenir-regular";
  padding-bottom: 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
  }
  .about-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .about-picture {
    padding-top: 1rem;
    padding-right: 5.5rem;
    padding-left: 5.5rem;
    height: 18.75rem;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-quote {
    padding: 0.75rem 5.5rem 0.75rem 5.5rem;
    font-size: 1.39rem;
    line-height: 2rem;
  }
  .about-quote-name {
    padding: 0 5.5rem 1.5rem 5.5rem;
  }
  .about-band {
    padding-left: 5.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.313rem;
  }
  .about_info {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 200;
    padding-right: 1rem;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
  .about-picture {
    height: 40.625rem;
  }
  .about-quote {
    font-size: 1.33rem;
    padding-right: 22.5rem;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 0 1rem 0 1rem;
  background-color: #fafafa;
}
.gallery-text {
  font-family: "avenir-demi";
  font-weight: 400;
  padding: 1rem 0 1rem 0;
}
.gallery-photos {
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
}

img[src*=gallery] {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery-text {
    font-size: 2.25rem;
    padding: 2.25rem 0 1rem 2rem;
  }
  .gallery-photos {
    display: flex;
    flex-wrap: wrap;
    width: 13.125rem;
    padding-right: 1rem;
  }
  .photo-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 5.5rem;
    width: 100vw;
  }
  .gallery-text {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
  .gallery-photos {
    width: 21.875rem;
  }
}
.footer {
  width: 100vw;
  background-color: #323232;
  padding: 0 1rem 0 1rem;
  color: #ffffff;
  text-decoration: none;
}
.footer-head {
  padding: 1.5rem 0 1rem 0;
  font-family: "avenir-demi";
}
.footer-icons {
  padding: 0 1.75rem 0 0;
}
.footer-name {
  font-family: "avenir-regular";
  line-height: 1.125rem;
  padding: 1.5rem 0 1rem 0;
  font-size: 0.875rem;
  font-weight: 500;
}
.footer-address {
  font-family: "avenir-regular";
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  font-size: 0.813rem;
}
.footer-email {
  font-family: "avenir-regular";
  color: #ffffff;
  font-size: 0.813rem;
}
.footer-bandlogo {
  padding-top: 3rem;
  height: 1.25rem;
  width: 7.5rem;
}
.footer-copyright {
  font-family: "avenir-regular";
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.688rem;
}

.footer-band-logo-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 1.5rem;
    padding-left: 2rem;
  }
  .footer-head {
    font-size: 2.25rem;
    justify-content: left;
    padding-right: 2.625rem;
  }
  .footer-icons {
    height: 1.875rem;
    width: 0.625rem;
    padding-top: 1.875rem;
    padding-right: 1.875rem;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-name {
    padding-bottom: 1.5rem;
  }
  .footer-address {
    padding-bottom: 1.5rem;
  }
  .footer-copyright {
    padding-top: 2.625rem;
    padding-bottom: 2rem;
  }
  .footer .git_tablet {
    display: flex;
    flex-direction: row;
  }
  .footer .footer-band-logo-top {
    display: flex;
    justify-content: right;
    width: 7.5rem;
    height: 1.25rem;
    padding-top: 2.25rem;
    padding-left: 24%;
  }
  .footer .footer-bandlogo {
    display: none;
  }
  .footer .footer_contact-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 7.75rem;
  }
  .footer-head {
    margin-right: 1rem;
  }
  .footer-icons {
    padding-right: 2.5rem;
  }
  .footer-band-logo-top {
    display: flex;
    justify-content: right;
    margin-left: 19%;
  }
  .footer_contact-container {
    margin-right: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=bio.css.map */